:root{
    --color-primary: #373372;
    --color-secondary: #7C336C;
    --color-tertiary: #B3588A;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 500%;
}

#clock{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 100%;
    z-index: 100;
}

@keyframes fly {
    100% {
      transform:rotate(1turn) translate(100px) rotate(-1turn);
    }
  }
  
  @keyframes flyPlus {
    100% {
      transform:rotate(-1turn) translate(100px) rotate(1turn);
    }
  }
  
  .wrapper {
    width: 98vw;
    height: 98vh;
    background: #000000;
    
    position: absolute;
    overflow:hidden;
    border-radius: 40px;
    z-index: 0;
    transition: color 2s ease-in-out;
  }
  
  .base {
    position: absolute;
    filter: blur(60px);
    opacity: 0.8;
    transition: color 2s ease-in-out;
  }
  
  .one {
    border-radius: 100%;
    width: 600px;
    height: 600px;
    background-color: var(--color-primary);
    left:-50px;
    top:-300px;
    z-index: 3;
    animation: fly 12s linear infinite;
    transform:rotate(0) translate(80px) rotate(0);
  }
  
  .two {
    width: 500px;
    height: 800px;
    background-color: var(--color-secondary);
    bottom:-30px;
    left:-80px;
  }
  
  .three {
    border-radius: 100%;
    width: 450px;
    height: 450px;
    bottom:-80px;
    right:-100px;
    background-color: var(--color-tertiary);
    animation: flyPlus 8s linear infinite;
    transform:rotate(0) translate(100px) rotate(0);
  }

  /* refresh button */
 #refresh{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #16161609;
    color: #000;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }